[init]
	defaultBranch = main
[user]
	name = Rory Hendrickson
	email = 35480205+roryhen@users.noreply.github.com
[core]
	editor = nvim
[diff]
	tool = nvimdiff
[merge]
	tool = nvim
[push]
	followTags = true
[mergetool]
	prompt = false
	keepBackup = false
[difftool]
	prompt = false
[mergetool "nvim"]
	cmd = nvim -d -c \"wincmd l\" -c \"norm ]c\" \"$LOCAL\" \"$MERGED\" \"$REMOTE\"
[credential "https://github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[credential "https://gist.github.com"]
	helper = 
	helper = !/opt/homebrew/bin/gh auth git-credential
[pull]
	rebase = true
