*
!.gitignore
!.zshrc
!install.sh
!Brewfile
!.spaceshiprc.zsh
!.alacritty.toml
!.gitconfig
!.mise.toml
!.config/
!.config/zed/
!.config/zed/settings.json
!.config/zed/keymap.json
!.config/zed/snippets/
!.config/zed/snippets/*
