*
.DS_Store
!.config/
!.config/*vim/
!.config/*vim/*
!.config/*vim/lsp/*
!.config/*vim/lua/*
!.config/*vim/lua/config/*
!.config/*vim/lua/plugins/*
!.config/ghostty/
!.config/ghostty/*
!.config/ghostty/themes/*
!.config/starship.toml
!.gitconfig
!.gitignore
!.mise.toml
!.zshrc
!Brewfile
!install.sh
