*
!.bashrc
!Brewfile
!.config/
!.config/ghostty/
!.config/ghostty/*
!.config/git/
!.config/git/ignore
!.config/mcp/
!.config/mcp/mcp.json
!.config/mise/
!.config/mise/config.toml
!.config/opencode/
!.config/opencode/AGENTS.md
!.config/opencode/opencode.json
!.config/opencode/cli.json
!.config/opencode/opencode-quota/quota-toast.json
!.config/opencode/skills/
!.config/opencode/skills/**
!.config/tmux/
!.config/tmux/tmux.conf
!.config/tmux/segments.sh
!.config/{vim,nvim}/
!.config/{vim,nvim}/*
!.config/{vim,nvim}/lsp/*
!.config/{vim,nvim}/lua/*
!.config/{vim,nvim}/lua/config/*
!.config/{vim,nvim}/lua/plugins/*
!.config/wezterm/
!.config/wezterm/wezterm.lua
!.config/workmux/
!.config/workmux/config.yaml
!.config/zed/
!.config/zed/keymap.json
!.config/zed/settings.json
!.gitconfig
!.gitignore
!.inputrc
!install.sh
!.p10k.zsh
!.pi/
!.pi/agent/
!.pi/agent/settings.json
!.pi/agent/themes/
!.pi/agent/themes/*
!.zshrc
